<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Editar Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="enviarFormulario()">
    <ion-item>
      <ion-label>Speaker</ion-label>
      <ion-input type="text" name="speaker" [(ngModel)]="evento.speaker"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="evento.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Place</ion-label>
      <ion-select name="place" placeholder="Select one" [(ngModel)]="evento.place">
        <ion-select-option value="Bilbao">Bilbao</ion-select-option>
        +<ion-select-option value="Donosti">Donosti</ion-select-option>
        <ion-select-option value="Gasteiz">Gasteiz</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime name="date" display-format="DD-MM-YYYY" [(ngModel)]="evento.date"></ion-datetime>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit" block>Añadir</ion-button>
    <ion-button expand="full" (click)="enviarFormulario()">Volver</ion-button>

  </form>
</ion-content>
