<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Eventos</ion-card-subtitle>
      <ion-card-title>Bienvenidos a Eventos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Consulte a continuacion el listado de eventos posibles</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Lista de eventos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of eventos">
      <ion-label>{{item.speaker}}</ion-label>
      <ion-label>{{item.title}}</ion-label>
      <!--<ion-label>{{item.place}}</ion-label>-->
    </ion-item>
  </ion-list>

</ion-content>
